.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 2rem 3rem;
}

.container-content {
  margin: 1rem 0.2;
}

.table-tasks .ui-table__header {
  background-color: Azure !important;
}

.table-tasks {
  margin-top: 1rem;
}

.logo {
  width: auto;
  height: 35px;
}
 
.ui-menu__itemwrapper {
  position: absolute;
  right: 0;
}

.ui-menu {
  padding-left: 3rem !important;
}
.ui-menu li {
  align-self: center;  
}
.ui-menu li:last-child{
  position: absolute;
  right: 3rem;
  box-shadow: none;
}